.france{ background-color: azure;}
.tennis{background-color: red;}
img{ width: 50px;}
.big{ width: 200px;}
#tennis{background-color: aqua;}
.blue{background-color: blue;}
.container{ background-color: deeppink;}
header{background-color: blueviolet;}
.bigfoot{ width: 250px;}
body{background-color: gainsboro ;}